body { 
    background: url("../homepagephoto/homephoto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}