.forgot-password {
  display:flex;
  flex-direction:column;
  gap:10px;

  background-color:white;

  border-radius:5px;

  padding:15px;

  width:300px;
}

.forgot-password input{
  border:1px solid green;
}

.forgot-passwordinput{
  width:95%;

  padding:5px;
}

.active{
  background-color:aliceblue;
}

.forgot-passwordactions{
  display:flex;
  justify-content:flex-end;

  gap:5px;
}

.forgot-password__button{
  padding:5px;

  border-radius:5px;
  cursor:pointer;
}

.container {
  display:flex;
  align-items:center;
  justify-content:center;

  width:100vw;
  height:100vh;
  background-color:gray;
}