footer {
    background-color: #212c42;
    color: #fff;
}
footer ul li {
    margin: 0 8px;
}
footer ul li a {
    color: #fff !important;
    text-decoration: none;
}footer ul li a:hover {
    text-decoration: underline;
}